body {
	position: relative;
    background: transparent;
    font-family: 'Spirax', cursive;
    font-size: 30px;
    text-align: center;
}
.jumbotron, .card{
    background: transparent;


}
#randonNumber, #userScore{
    font-size: 50px;
}
img{
    border: none;
    width: 100px;
    height: 100px;
    background: transparent;

}
button{
    background: transparent;
}
