body {
	position: relative;
    background: transparent;
    font-family: 'Spirax', cursive;
    font-size: 30px;
    text-align: center;
}

.jumbotron, .card, .cardbody{
    background: transparent;
    margin: auto;


}
#randonNumber, #userScore{
    font-size: 50px;
}
img{
    
    width: 100px;
    height: 100px;
}
button{
    background: transparent;
}
